@import "tailwindcss";

@theme {
  --color-neon-blue: #00f3ff;
  --color-neon-purple: #bc13fe;
  --color-deep-space: #030712;

  --font-display: "Outfit", sans-serif;
  --font-mono: "Fira Code", monospace;
}

@layer base {
  body {
    @apply bg-deep-space text-gray-100 antialiased overflow-hidden font-display;
  }
}

@layer components {

  /* High-Performance Glass */
  .glass-panel {
    @apply bg-[#1a1f2e]/60 backdrop-blur-xl border border-white/10 shadow-2xl;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  }

  /* Text Gradients */
  .text-gradient {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-cyan-400 to-purple-500;
  }
}